.bgTop {
  background-color: var(--secondary-color);
}

.navbar-nav .nav-link {
  margin-left: 15px;
  font-size: 0.8rem;
}

.menu {
  align-items: flex-end;
}

.menu > div > div {
  background-color: var(--secondary-color);
}

.menu > div > div a.active {
  color: var(--primary-color);
}

.dropdown-item {
  background-color: var(--secondary-color) !important;
}

@media screen and (max-width: 400px) {
  .NavbarBrand {
    max-width: 200px;
  }
  .navbarTogglerIcon {
    font-size: 0.75rem;
  }
}