.bgTop {
  background-color: var(--secondary-color);
}

.menu {
  align-items: flex-end;
}

.menu > a {
  margin-left: 15px;
}

.menu > a:hover,
.menu > a:focus {
  color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
  .menu {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (max-width: 400px) {
  .NavbarBrand {
    max-width: 200px;
  }
  .navbarTogglerIcon {
    font-size: 0.75rem;
  }
}